<?xml version="1.0"?>
<model>
  <name>tower_glass</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Arena Simulation Team</name>
    <email>team@example.org</email>
  </author>
  <description>
    Макет здания типа "Стакан" диаметром 660 мм и высотой 800 мм 
    с имитацией разрушения и очага возгорания.
  </description>
</model>
